/* 3 collumn layout */
.dashboard {
  display: flex;
  height: 100vh;
}

.left {
  flex: 0.7;
  border-radius: 0.1%;

}

.middle {
  flex: 4;
  padding: 20px;
  align-items: center;
  overflow: auto;

}
.middle > * {
  width: 100%;
  height: 100%;
}
