.App {
  width: 100%;
  /* margin-left: 15%;
  margin-top: 5%;
  margin-left: 25%; */
  height: 100%;

}



.App-header {
  background-color: #ffffff;
  font-size: 10px;
  width: 50%;
  height: 100%;
}


.GraphChart{
  width: 60vw;
  height: 50vh;
  float: left;
}
.intervals{
  margin-left: 12vw;
}

.GraphPriceDetails{
  width: auto;
  height: auto;
}


.GraphPriceDetails #currentPrice{
  text-align: center;
  width: 30%;
  float: left;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 10px;
  margin-left: 2%;

}
.GraphPriceDetails #monetaryChange{
  text-align: center;
  width: 30%;
  float: left;
  margin-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 10px;


}
.GraphPriceDetails #percentChange{
  text-align: center;
  width: 30%;
  float: left;
  margin-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 10px;

}

.dashBoardSearchDiv{
  float: left;
  margin-top:10vh;
  width: 60vw;
  height: 40vh;
}
.dashBoardSearchInput{
  width: 58vw;
  margin-left: 0.75%;
  font-size: 3vh;
}

.testToken {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.testToken img {
  height: 3vh;
  margin-right: 10px;
}

.testToken p {
  margin: 0;
}
.testToken:hover{
  background-color: #007bff;
  color:white;
  cursor: pointer;
}


.tradeTokenDiv{
  float:right;
  width:20vw;
  height: 50vh;
  margin-top: 2vh;
  text-align: center;
}
.tradeTokenDiv button{
  width: 70%;
  font-size: 3vh;
  border-radius: 10px;
}


.App-header {
  background-color: #ffffff;
  font-size: 10px;
  width: 50%;
  height: 100%;
}

.App-link {
  color: blue;
}
.GraphComponent {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.GraphPriceDetails{
  width: auto;
  height: auto;
}
.GraphPriceDetails p{
  background-color: #007bff;
  color: white;
}

.GraphPriceDetails #currentPrice{
  text-align: center;
  width: 30%;
  float: left;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 10px;

}
.GraphPriceDetails #monetaryChange{
  text-align: center;
  width: 30%;
  float: left;
  margin-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 10px;


}
.GraphPriceDetails #percentChange{
  text-align: center;
  width: 30%;
  float: left;
  margin-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 10px;

}



.buyScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buyScreen form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.buyScreen label {
  margin-bottom: 10px;
}

.buyScreen input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  border-style: solid;
  border-width: 1px;
}

.buyScreen button {
  font-size: 3vh;
  margin-top: 10px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: red;
  color: white;
  cursor: pointer;
}

.buyScreen button[type="submit"] {
  background-color: #007bff;
}

.buyScreen button[type="submit"]:hover {
  background-color: green;
}

.tradeTokenButtons{
  margin-top: 15vh;
  height: 10vh;
  width: auto;
}

.tradeTokenInfo{
  margin-top: 10vh;
  height: 15vh;
  width: auto;
}

.sellScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sellScreen form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.sellScreen label {
  margin-bottom: 10px;
}

.sellScreen input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  border-style: solid;
  border-width: 1px;
}

.sellScreen button {
  font-size: 3vh;
  margin-top: 10px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: red;
  color: white;
  cursor: pointer;
}

.sellScreen button[type="submit"] {
  background-color: #007bff;
}

.sellScreen button[type="submit"]:hover {
  background-color: green;
}