nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
}

.logo {
  flex: right;
  text-align: right;
}

.logo img {
  width: 200px;
}

.menu {
  flex: left;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 1rem;
}
li a {
  text-decoration: none;
  
}

li a:visited {
  text-decoration: none;
  color: black;
}