.App {
  width: 50%;
  margin-left: 15%;
  margin-top: 5%;
  margin-left: 25%;

}


.App-header {
  background-color: #ffffff;
  font-size: 10px;
  width: 50%;
  height: 100%;
}

.App-link {
  color: #61dafb;
}


.GraphPriceDetails{
  width: auto;
  height: auto;
}
.GraphPriceDetails p{
  background-color: #61dafb;
}

.GraphPriceDetails #currentPrice{
  text-align: center;
  width: 30%;
  float: left;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 10px;

}
.GraphPriceDetails #monetaryChange{
  text-align: center;
  width: 30%;
  float: left;
  margin-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 10px;


}
.GraphPriceDetails #percentChange{
  text-align: center;
  width: 30%;
  float: left;
  margin-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 10px;

}
